{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

header
{
	min-height: 70px;
}
.container
{
	width: 50%
	height:auto;
	overflow: hidden;
	
}

#logo img
{
	display: block;
	float: left;
	margin-top: 0px;

}
#menu ul
{
	float: right;
	margin-top: 60px;
}
#menu li
{
	list-style-type: none;
	display: inline;
}
span
{
	color: red;
}
#menu a
{
	text-transform: uppercase;
	color: grey;
	text-decoration: none;
	display: inline-block;
	font-family: helvetica;
	font-size: 18px;
	padding: 15px;
	box-sizing: border-box;;

}
#menu a:hover
{
	color: red;
}
#highlight a:active
{
	color: red;
}

#banner 
{	
	width:100%;
	height:auto;
	background: url("images/banner.png")  -400px 0;
	min-height: 524px;

	}

.textonimage
{
	margin-top: 2%;
}

#banner h1
{	

	color: white;
	font-family: tahoma;
	background-color: #bb2529;
	box-sizing: border-box;
	display: block;
	position: absolute;
	margin-top: 180px;
	margin-left: 10%;
	/*left: 180px;
	top: 300px;*/
	padding: 15px;
	padding-right: 35px;
}

#banner h2
{
	color: white;
	font-family: tahoma;
	background-color: #0b426c;
	box-sizing: border-box;
	display:block;
	position: absolute;
	margin-top: 240px;
	margin-left: 10%;
	/*left: 180px;
	top: 360px;*/
	padding: 15px;
	padding-right: 35px;
	
}
#banner p
{
	color: grey;
	font-family: helvetica;
	font-size: 15px;
	line-height: 2.5;
	position: absolute;
	margin-top: 300px;
	margin-left: 10%;
	/*left: 180px;
	top:430px;*/
	background-color: transparent;

}

.button
{
    background-color: transparent;
    border: none;
    color: grey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border:1px solid grey;
    border-radius: 10px;
    position: absolute;
    margin-left: 10%;
    margin-top: 410px;
}
#news
{
	background-color: #00537f;
	padding: 15px;
}
#news h3
{
	font-family: Bodoni Bk BT;
	float: left;
	font-size: 28px;
	color: white;
	margin-left: 160px;
}
.button2
{
	 background-color: white;
    border: none;
    color: grey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border:1px solid grey;
    border-radius: 5px;
     float: right;
     margin-top: 2%;
     margin-right: 10px;
}


.box
{
	
	display: inline;
	float: left;
    margin-bottom: 30px;
    width: 25%;
    margin-top: 2%;
    margin-left: 6%;
}
.box img
{
	width: 100%;
	height: auto;
}

.scale img
{	

	width: 380px;
	height: auto;
	
}

#scale{
	transition: all 1s;
}
#scale:hover
{
	transform: scale(1.1);
}

.box h4
{

	font-family: Bodoni Bd BT;
	font-size: 28px;
	margin-top: 40px;
	

}

.box p
{
	font-family:Adobe Garamond Pro;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#comment 
{
	text-decoration: none;
	color:blue;
	background-color: transparent;
	margin-top: 2%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 2px;
	font-family: helvetica;
	font-size: 14px;
	}	

footer
	{
	
	width: 100%;
	position: relative;
	background-image: url("images/ibadan.png") , url("images/blackground");
	background-size: cover;
	background-repeat: no-repeat;
	height: 542px;


}

 #lastlogo img
{

	display: block;
	position: absolute;
	top: 31%;
	left: 31%;


}

@media screen and (max-width: 1250px) and (min-width: 800px)
{

#logo img
{
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;

}


#menu ul
{

	display:block;
	float: none;
	margin-top: 1%;
	margin-left: 10%;
	margin-right: auto;
}
#menu a
{
	display: block;
	text-transform: uppercase;
	color: grey;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: helvetica;
	font-size: 18px;
	padding: 15px;
	box-sizing: border-box;
	margin-right: auto;
	margin-right: auto;

}
#banner 
{	
	width:100%;
	height:auto;
	background: url("images/banner.png")  -490px 0;
	min-height: 624px;

	}
.box
{
	
	display: inline;
	float: left;
    margin-bottom: 30px;
    width: 25%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 3%;
}

.box h4
{

	font-family: Bodoni Bd BT;
	font-size: 25px;
	margin-top: 40px;
	

}
.box p
{
	font-family:Adobe Garamond Pro;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#lastlogo img
{

	display: block;
	position: absolute;
	top: 31%;
	left: 27%%;


}


}

@media screen and (max-width: 800px)
{
	
#logo img
{
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;

}
#menu ul
{

	display:block;
	float: none;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

#menu a
{
	display: block;
	text-transform: uppercase;
	color: grey;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: helvetica;
	font-size: 18px;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	margin-right: auto;
	margin-right: auto;

}
	.textonimage
{
	margin-top: -10%;
}
	#banner 
{	
	width:100%;
	height:auto;
	background: url("images/banner.png") ;
	min-height: 424px;

	}
.box
{
	display: block;
	margin-bottom: 30px;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
   }

.scale img
{	

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: auto;
	
}

.box h4
{

	font-family: Bodoni Bd BT;
	font-size: 25px;
	margin-top: 40px;
	text-align: center;
	

}
.box p
{
	font-family:Adobe Garamond Pro;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
#comment 
{
	text-decoration: none;
	color:blue;
	background-color: transparent;
	margin-top: 2%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 2px;
	font-family: helvetica;
	width: 15%;
	font-size: 14px;
	margin-left: 40%;
	
	}

	#lastlogo img
{

	display: block;
	position: absolute;
	top: 31%;
	left: 11%;


}



}

